SECRET_KEY=
# use this command to create your own secret key: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,<yourdomain>

# DB_ENGINE=django.db.backends.mysql
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=3306